[submodule "tools/ozvm"]
	path = tools/ozvm
	url = https://bitbucket.org/cambridge/ozvm.git
[submodule "oz"]
	path = oz
	url = https://bitbucket.org/cambridge/oz.git
[submodule "tools/mpm"]
	path = tools/mpm
	url = https://bitbucket.org/cambridge/mpm.git
[submodule "tools/makeapp"]
	path = tools/makeapp
	url = https://bitbucket.org/cambridge/makeapp.git
